body{
  background:#0f0f0f;
  font-family: Arial;
}

.app{
  width:90%;
  max-width:500px;
  margin:30px auto;
  padding:20px;
  border-radius:10px;
  background:black;
  color:white;
  border:1px solid #444;
}

h1{
  text-align:center;
  color:#00ffea;
}

#chat-box{
  height:380px;
  overflow-y:auto;
  padding:10px;
  border:1px solid #333;
  border-radius:10px;
}

.msg{
  padding:8px;
  border-radius:7px;
  margin-top:6px;
  font-size:15px;
}

.user{
  background:#008cff;
  text-align:right;
}

.bot{
  background:#111;
  border:1px solid #555;
}

.input-box{
  display:flex;
  gap:10px;
  margin-top:10px;
}

input{
  flex:1;
  padding:10px;
  border-radius:7px;
  border:none;
  outline:none;
}

button{
  padding:10px;
  border-radius:7px;
  border:none;
  background:#00ffc8;
  color:black;
  font-weight:bold;
}